*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: #f9faf8;
}

.headerTop{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 140px;
    margin-right: 140px;
}

.headerLogo{
    font-weight: bold;
    font-size: 24px;
    
}

.navLink{
    color:#9f8b70;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}


a {
    text-decoration: none;
  }
