body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}


/* Virtual Art Gallery: Custom Styles: Text */
.vag-a-tan {
    color: #9f8b70;
}

.vag-a-tan:hover {
    color: #d2b48c;
}

.vag-a-tan:active {
    color: #b58863;
}


/* Virtual Art Gallery: Custom Styles: Buttons */
.vag-btn-tan {
    color: white;
    background-color: #9f8b70;
    border-color: #9f8b70;
}

.vag-btn-tan:hover {
    color: white !important;
    background-color: #d2b48c !important;
    border-color: #d2b48c !important;
}

.vag-btn-tan:active {
    color: white !important;
    background-color: #b58863 !important;
    border-color: #b58863 !important;
}


/* Virtual Art Gallery: Custom Styles: Misc */
.vag-footer {
    background: #343a40;
    color: #fff;
    padding: 3rem 0;
}

.vag-footer a {
    color: #f8f9fa;
}

.vag-navbar-collapse-center {
    text-align: center;
}

.vag-navbar-collapse-center .vag-btn-tan {
    margin-right: .5rem;
}

.vag-section-tan {
    background: radial-gradient(farthest-corner at 40px 5px, #e7e4de, #e7ded7);
}

.vag-section-whitesmoke {
    background: whitesmoke;
}

.vag-section {
    padding: 3rem 0;
}

@media (max-width: 768px) {
    .vag-headnav-container {
        width: 100%;
    }

    .vag-navbar-collapse-center .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    .vag-navbar-collapse-center .nav-item {
        display: block;
    }

    .vag-navbar-collapse-center .vag-btn-tan {
        margin-bottom: .5rem;
        margin-right: 0;
        width: 100%;
    }
}
